---
title: Welcome to CloudStack
---

<div id="main">
    <div class="container">
        <div id="brand" class="row">
            <div class="col-md-8">
                <h1>Apache CloudStack&#8482;</h1>
                <h3>Open Source Cloud Computing&#8482;</h3>
            </div>
            <div class="col-md-4">
                <img src="images/monkey.png" alt="happy monkey">
            </div>
        </div>
        <div id="announce" class="container-fluid">
            <div class="row equal">
                <div class="col-md-5">
                    <div class="jumbotron">
                        <h2>Get CloudStack</h2>
                        <p class="text-news">Apache CloudStack 4.4.2 is out!</p>
                        <p>Looking for other versions of Apache CloudStack? You can find our archives on the download page as well.</p>
                        <button onClick="location.href='downloads.html'" class="btn btn-default btn-lg pull-right">Download Now</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="jumbotron">
                        <h2>Join Us</h2>
                        <p>Learn more about getting involved with Apache CloudStack on the <a href="contribute.html">Contributing to Apache CloudStack</a> page, or go straight to our <a href="developers.html">Developer Resources</a> page.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="about">
    <div class="container">
        <h1 class="text-center">About CloudStack</h1>
        <div class="text-center small-line"></div>
            <p>Apache CloudStack is open source software designed to deploy and manage large networks of virtual machines, as a highly available, highly scalable Infrastructure as a Service (IaaS) cloud computing platform. CloudStack is used by a number of service providers to offer public cloud services, and by many companies to provide an on-premises (private) cloud offering, or as part of a hybrid cloud solution.</p>
            <p>CloudStack is a turnkey solution that includes the entire "stack" of features most organizations want with an IaaS cloud: compute orchestration, Network-as-a-Service, user and account management, a full and open native API, resource accounting, and a first-class User Interface (UI).</p>
            <p>CloudStack currently supports the most popular hypervisors: VMware, KVM, XenServer, Xen Cloud Platform (XCP) and Hyper-V.</p>
            <p>Users can manage their cloud with an easy to use Web interface, command line tools, and/or a full-featured RESTful API. In addition, CloudStack provides an API that's compatible with AWS EC2 and S3 for organizations that wish to deploy hybrid clouds.</p>
            <button onClick="location.href='about.html'" class="btn btn-info btn-lg pull-right">Learn More</button>
            <div class="clearfix"></div>
        </div>
    </div>
</section>

<section id="events">
    <div class="container">
        <h1 class="text-center">CloudStack Events</h1>
        <div class="text-center small-line"></div>
        <div class="col-md-6">
            <h4>2015 CloudStack Days</h4>
            <p>In 2015, five CloudStack Days events will be held across the globe. Each one-day event will feature morning plenary sessions, afternoon breakout sessions in user and developer tracks and a hackathon. Learn more at:
                <ul>
                    <li>CloudStack Days <a href="http://events.linuxfoundation.org/events/cloudstack-seattle">Seattle 2015</a></li>
                    <li>CloudStack Days <a href="http://events.linuxfoundation.org/events/cloudstack-austin">Austin 2015</a></li>
                    <li>CloudStack Days <a href="http://events.linuxfoundation.org/events/cloudstack-tokyo">Tokyo 2015</a></li>
                    <li>CloudStack Days <a href="http://events.linuxfoundation.org/events/cloudstack-dublin">Dublin 2015</a></li>
                </ul>
            </p>
            <p>View <a href="https://www.youtube.com/playlist?list=PLbzoR-pLrL6ruJrhXZ-jSSYw0m3WfK4ea">videos</a> from the CloudStack Collaboration Conference Europe 2014</p>
        </div>
        <div class="col-md-6">
            <h4>Upcoming CloudStack Related Events</h4>
            <div id="events-list"></div>
        </div>
    </div>
</section>

<section id="twitter-feeds">
    <div class="container">
        <div class="col-xs-6">
            <h1 class="text-center">What are people saying ?</h1>
            <div class="text-center small-line"></div>
        </div>
        <div class="col-xs-6">
            <div class="twiter-wrapper">
            <a class="twitter-timeline" href="https://twitter.com/search?q=cloudstack" data-widget-id="383337162126544896" data-chrome="nofooter transparent noheader noborders noscrollbar" style="margin-top: 50px;">Tweets about "cloudstack"</a>
            </div>
        </div>
    </div>
</section>

<!--<section id="project-annoucements">
    <div class="container">
        <h1 class="text-center">Project Announcements</h1>
        <div class="text-center small-line"></div>
        <div id="feed">
        </div>
    </div>
</section>-->

<section id="latest-annoucement" class="container">
    <div class="row">
        <h1 class="text-center">Latest Announcement</h1>
        <div class="text-center small-line"></div>
        <div id="feed"></div>
    </div>
</section>

